/* Template: Wireframe One*/
/* Header & Footer */
// Menu - referenced on every page
.ed-element.preset-menu-v2-wireframe-one {
	@include menu-v2(
		$menu-wrapper-background: $color-background, 
		$menu-wrapper-align: flex_end_menu, 
		$menu-wrapper-padding: 1rem 0.75rem 0.5rem, 
		$logo-position: default, 
		$logo-padding: 1rem, 
		$menu-logo-width: default, 
		$menu-padding-outer: 0rem, 
		$menu-logo-background: $none, 
		$menu-wrapper-sticky: sticky_menu, 
		$sticky-animation: true, 
		$menu-wrapper-sticky-background: $color-background, 
		$logo-width-sticky: auto, 
		$menu-wrapper-shadow: (2px 2px 4px 0 rgba(0,0,0,0.1), null, null), 
		$menu-color-choice: menu_items, 
		$hover-style: hover_border, 
		$menu-color: $color-primary, 
		$menu-color-active: $color-primary, 
		$menu-color-mobile: $color-primary, 
		$menu-color-mobile-active: $color-primary, 
		$menu-color-sticky: $color-primary, 
		$menu-color-active-sticky: $color-primary, 
		$hover-border-size: (1px, null, null), 
		$hover-border-radius: 0px, 
		$menu-margin: 2rem, 
		$menu-padding: 1rem, 
		$menu-link-font: link-default-font, 
		$menu-link-fz: 1rem, 
		$menu-link-fw: 400, 
		$menu-link-font-style: normal, 
		$menu-link-letter-spacing: 0, 
		$menu-link-tt: uppercase, 
		$submenu-hover-style: hover_box_bottom, 
		$submenu-color: $color-default, 
		$submenu-color-active: $color-primary, 
		$submenu-color-mobile: $color-default, 
		$submenu-color-mobile-active: $color-primary, 
		$submenu-color-sticky: $color-default, 
		$submenu-color-active-sticky: $color-primary, 
		$submenu-hover-border-size: 3px, 
		$submenu-hover-border-radius: 0px, 
		$submenu-margin: 1rem, 
		$submenu-link-padding: 1rem, 
		$submenu-link-font: link-default-font, 
		$submenu-link-fz: 0.85rem, 
		$submenu-link-fw: 400, 
		$submenu-link-font-style: normal, 
		$submenu-link-letter-spacing: 0, 
		$submenu-link-tt: uppercase, 
		$submenu-link-align: left center null, 
		$menu-trigger-fullscreen: false, 
		$menu-breakpoint: auto, 
		$menu-trigger-color: $color-primary, 
		$menu-trigger-color-active: $color-primary, 
		$menu-trigger-color-sticky: $color-primary, 
		$menu-trigger-fixed: false, 
		$menu-trigger-position: flex_end_menu, 
		$menu-trigger-margin: 2vw, 
		$menu-trigger-boxed: false, 
		$menu-trigger-boxed-color: $color-secondary, 
		$menu-trigger-boxed-color-active: $none, 
		$menu-trigger-boxed-color-sticky: $none, 
		$menu-trigger-description: false, 
		$menu-trigger-description-only: false, 
		$menu-trigger-description-name: Menu, 
		$menu-trigger-description-close-name: Close, 
		$menu-trigger-description-position: vertical_top, 
		$menu-trigger-description-fz: 0.65rem, 
		$extended-trigger-settings: true, 
		$menu-trigger-position-open: auto, 
		$menu-trigger-padding: 0px null 10px, 
		$menu-trigger-border-style: none, 
		$menu-trigger-border-width: 1px, 
		$menu-trigger-border-color: $color-primary, 
		$menu-trigger-border-color-active: $color-primary, 
		$menu-trigger-border-color-sticky: $color-primary, 
		$menu-trigger-border-radius: 0, 
		$menu-trigger-width: 30px, 
		$menu-trigger-bar-height: 3px, 
		$menu-trigger-bar-spacing: 8px, 
		$menu-trigger-bar-radius: 0, 
		$menu-trigger-style: steps, 
		$menu-trigger-flip: flip_horizontal-vertical, 
		$menu-trigger-animation: rotate, 
		$menu-trigger-animation-duration: 0.15s, 
		$menu-background-mobile: $color-background, 
		$menu-size: (100%, 100%, null), 
		$menu-open-align: center_menu, 
		$menu-padding-open: 1rem, 
		$menu-animation: animation_bottom, 
		$menu-animation-duration: 0.5s, 
		$menu-position: flex_end_menu, 
		$menu-orientation-fullscreen: menu_orientation_column, 
		$submenu-background: $color-background, 
		$submenu-background-mobile: $color-background, 
		$submenu-background-sticky: $color-background, 
		$submenu-animation: animation_fade, 
		$submenu-animation-duration: 0.3s, 
		$submenu-direction: animation_bottom, 
		$submenu-horizontal: menu_orientation_column, 
		$submenu-horizontal-align: center_menu, 
		$submenu-min-width: 10rem, 
		$submenu-padding: 0px
	);
}

// Banner
.ed-element.preset-banner-v3-wireframe-one {
	@include banner-v3(
		$arrow_no_label: none_default, 
		$arrow-color: #fff, 
		$hover-effect: none, 
		$arrow-background: $color-default, 
		$arrow-padding: 1rem, 
		$arrow-border-style: none, 
		$arrow-border-width: 1px, 
		$arrow-border-color: $color-secondary, 
		$arrow-border-radius: 0, 
		$box-shadow-primary: none, 
		$set-height-subpage: set_height, 
		$min-height-subpage: (360px, null, null), 

	);
}

// Banner - Social Icons
.ed-element.preset-social-icons-v3-wireframe-one {
	@include social-icons-v3(
		$margin: 0.5rem, 
		$fixed: (false, null, null), 
		$fixed-position: (left, null, null), 
		$icon-background: $color-primary, 
		$icon-background-active: $color-secondary, 
		$icon-color: $color-background, 
		$icon-color-active: $color-primary, 
		$social-icon-size: 1rem, 
		$icon-padding: 0.5rem, 
		$icon-border-style: solid, 
		$icon-border-width: (2px 2px 2px 2px, null, null), 
		$icon-border-color: $color-secondary, 
		$icon-border-color-active: $color-primary, 
		$icon-border-radius: 50%, 
		$box-shadow-primary: none
	);
}

// Footer - referenced on every page
.ed-element.preset-footer-heimdall-v2-left-wireframe-one {
	@include footer-heimdall-v2(
		$background: #c22c2c, 
		$box-style: flex_start_menu, 
		$columns: (4, null, 1), 
		$grow: (false, null, null), 
		$margin: (1rem, null, null), 
		$margin-horizontal: false, 
		$box-background: rgba(132,121,121,0.493), 
		$box-padding: (1rem 1rem 1rem 1rem, null, null), 
		$border-style-primary: none, 
		$border-width-primary: 1px, 
		$border-color-primary: $color-primary, 
		$border-radius-primary: 0px, 
		$box-shadow-primary: none, 
		$icon-background: $none, 
		$icon-color: $none, 
		$fz-icon: 2.5rem, 
		$icon-padding: 0rem, 
		$icon-border-style: none, 
		$icon-border-width: 1px, 
		$icon-border-color: $color-primary, 
		$icon-border-radius: 0
	);
}

// Footer - Back to top - referenced on every page
.ed-element.preset-back-to-top-button-v3-wireframe-one {
	@include back-to-top-button-v3(
		$margin: 1rem, 
		$box-position: right, 
		$box-background: $color-primary, 
		$box-color: $color-secondary, 
		$box-size: 1.3rem null 1rem, 
		$box-padding: 0.5rem, 
		$box-border-style: none, 
		$box-border-width: 1px, 
		$box-border-color: $color-secondary, 
		$box-border-radius: 0, 
		$box-shadow: none
	);
}

/* Presets & Custom Sections */
// ABOUT - Text
.ed-element.preset-text-v2-wireframe-one {
	@include text-v2(
		$text-columns: (1, null, null), 
		$text-columns-gap: 1rem null null, 
		$border-style-primary: solid, 
		$border-width-primary: 1px, 
		$border-color-primary: $color-primary
	);
}

// ABOUT - Text with Image
.ed-element.preset-text-with-image-v3-boxed-wireframe-one {
	@include text-with-image-v3(
		$background: $color-background, 
		$margin: (0rem, null, null), 
		$margin-horizontal: false, 
		$box-padding: (2.5rem 2.5rem 2.5rem 2.5rem, null, 1.5rem 1.5rem 1.5rem 1.5rem), 
		$image-width: 50% null 100%
	);
}

// ABOUT - Image Box
.ed-element.preset-image-boxes-v3-wireframe-one {
	@include image-boxes-v3(
		$columns: 3 null 1, 
		$grow: false, 
		$margin: 2rem, 
		$margin-horizontal: false, 
		$box-background: $gray-lightest, 
		$box-padding: 1rem, 
		$box-border-style: none, 
		$box-border-width: 1px, 
		$box-border-color: $color-secondary, 
		$box-border-radius: 0, 
		$box-shadow-primary: none
	);
}

// PARTNER - Partner Logos
.ed-element.preset-partners-v3-wireframe-one {
	@include partners-v3(
		$columns: 3 null 1, 
		$grow: false, 
		$margin: 2rem, 
		$margin-horizontal: false, 
		$aspect-ratio: 16/9, 
		$logo-max-width: 70%, 
		$logo-max-height: 70%, 
		$box-background: #f3f3f3, 
		$box-border-style: none, 
		$box-border-width: 1px, 
		$box-border-color: $color-default, 
		$box-border-radius: 0, 
		$box-shadow-primary: none
	);
}

// SERVICE - Icon Boxes
.ed-element.preset-boxes-v3-icons-left-wireframe-one {
	@include boxes-v3(
		$columns: (2, null, 1), 
		$grow: false, 
		$margin: (1rem, null, null), 
		$margin-horizontal: false, 
		$icon-position: left_default, 
		$flex-direction: (row, null, column), 
		$box-background: #f0f2f1, 
		$padding: (1rem, null, null), 
		$border-style-primary: solid, 
		$border-width-primary: 0px, 
		$border-color-primary: $color-primary, 
		$border-radius-primary: 0px, 
		$box-shadow-primary: none, 
		$icon-background: $color-primary, 
		$icon-color: $none, 
		$fz-icon: 2.5rem, 
		$icon-padding: (1rem, null, null), 
		$border-style-secondary: solid, 
		$border-width-secondary: (0px 0px 0px 0px, null, null), 
		$border-color-secondary: $color-secondary, 
		$border-radius-secondary: 0, 
		$box-shadow-secondary: none
	);
}

// INFORMATION - Accordion
.ed-element.preset-accordion-v3-tabs-wireframe-one {
	@include accordion-v3(
		$variant: list_icon, 
		$margin: (2rem, null, null), 
		$column-width: 25% 33% 100%, 
		$tab-grow: true, 
		$trigger-background: $color-secondary, 
		$trigger-background-active: $color-primary, 
		$trigger-color: $color-primary, 
		$trigger-color-active: $color-secondary, 
		$trigger-font-size: nth(inherit-list((16px, null, null)), 1), 
		$trigger-icon: cross, 
		$trigger-icon-color: $color-primary, 
		$trigger-icon-color-active: $color-secondary, 
		$trigger-margin: (1rem, null, null), 
		$trigger-padding: (1rem 1rem 1rem 1rem, null, null), 
		$trigger-border-style: solid, 
		$trigger-border-width: 1px, 
		$trigger-border-color: $color-primary, 
		$trigger-border-color-active: $color-primary, 
		$trigger-border-radius: 0px, 
		$box-shadow-primary: none, 
		$content-background: $color-background, 
		$content-padding: (1rem 1rem 1rem 1rem, null, null), 
		$content-border-style: none, 
		$content-border-width: 1px, 
		$content-border-color: $color-primary, 
		$content-border-radius: 0px, 
		$box-shadow-secondary: none
	);
}

// INFORMATION - Call to Action
.ed-element.preset-callout-v2-wireframe-one {
	@include callout-v2(
		$box-width: (100%, null, null), 
		$box-align: (center_menu, null, null), 
		$box-background: $none, 
		$box-padding: 0rem, 
		$box-border-style: none, 
		$box-border-width: 1px, 
		$box-border-color: $color-primary, 
		$box-border-radius: 0px, 
		$box-shadow-primary: none
	);
}

// CONTACT - Contact Form
.ed-element.preset-contact-form-v3-wireframe-one {
	@include contact-form-v3(
		$columns: 2 null 1, 
		$grow: true, 
		$margin: 1rem, 
		$margin-horizontal: false, 
		$horizontal-checkbox: false, 
		$horizontal-radio: false, 
		$full-size-choice: default, 
		$input-background: $none, 
		$input-color: $color-default, 
		$input-label-color: $color-default, 
		$input-placeholder: $color-default, 
		$padding: (0.5rem 1rem 0.5rem 1rem, null, null), 
		$border-style-primary: solid, 
		$border-width-primary: 1px, 
		$border-color-primary: $color-default, 
		$border-radius-primary: 0, 
		$box-shadow-primary: none, 
		$input-background-hover: $none, 
		$input-color-hover: $none, 
		$input-placeholder-hover: $none, 
		$padding-hover: auto, 
		$border-style-hover: solid, 
		$border-width-hover: 1px, 
		$border-color-hover: $color-default, 
		$border-radius-hover: 0, 
		$box-shadow-hover: none, 
		$input-background-focus: $none, 
		$input-color-focus: $none, 
		$input-placeholder-focus: $none, 
		$padding-focus: auto, 
		$border-style-focus: solid, 
		$border-width-focus: 1px, 
		$border-color-focus: $color-default, 
		$border-radius-focus: 0, 
		$box-shadow-focus: none, 
		$captcha-input-width: 100px, 
		$regenerate-color: $color-default, 
		$regenerate-fz: 1.5rem
	);
}

// LEGAL NOTICE
.ed-element.preset-back-button-v2-wireframe-one {
	@include back-button-v2(
		$background: $color-primary, 
		$box-padding: 1rem, 
		$button-style: none
	);
}
.ed-element.preset-columns-three-v2-default {
	@include columns-three-v2;
}
.ed-element.preset-float-container-v3-custom {
	@include float-container-v3(
		$float-position: left, 
		$width: (30%, 50%, 100%), 
		$margin: (0rem 1.5rem 0.5rem 0rem, null, 0rem 0rem 1rem 0rem), 
		$text-flow: (customize, null, null), 
		$border-radius: 50%, 
		$shape-outside-height: 50%, 
		$shape-outside-width: 30%, 
		$shape-outside-horizontal: 50%, 
		$shape-outside-vertical: 50%, 
		$disable-on-mobile: true
	);
}
.ed-element.preset-accordion-v3-list-icon {
	@include accordion-v3($variant: list_icon);
}
.ed-element.preset-boxes-transparent-v2-default {
	@include boxes-transparent-v2(
		$columns: (2, null, null), 
		$border-width: (0px 0px 0px 5px, null, null), 
		$margin-horizontal: false, 
		$margin: (0.5625rem, null, 0.5rem), 
		$box-background: rgba(0,0,0,0.148)
	);
}
.ed-element.preset-text-v2-default {
	@include text-v2;
}
